.allWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.allWrapper::-webkit-scrollbar{
    display: none;
}

.profileWrapper{
    width: 80%;
}

.sec1{
    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-bottom: 3vh;
}

.sec1Bg{
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1BgInner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sec1BgFillImageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-color: rgba(0,0,0,0.005);
    backdrop-filter: blur(5px);
    border-radius: 20%;
}

.sec1BgInner img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.fillImg{
    opacity: 0.0025;
}

.sec1Content{
    width: 100%;
    height: 100%;
    padding: 3% 5%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.sec1Content > img {
    margin-top: 3vh;
    margin-right: 3vw;
    width: 30%;
    border: 0.61em solid #00F2D8;
    border-radius: 15%;
}

.sec1ContentRight{
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.coinName{
    font-size: 2.5em;
    font-weight: bold;
}

.c1r2{
    font-size: 1em;
    font-weight: 300;
}

.c1r3{
    width: 100%;
    background-color: #37655E;
    border-radius: 50px;
    padding: 1% 3%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c1r3CA{
    font-size: 1.15em;
    font-weight: 500;
    color: #00F2D8;
}

.copyButtonContainer{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.copyButtonContainer img{
    height: 1.15em;
}
.copyButtonContainer img:active{
    transform: scale(0.85);
    transition: all 0.2s ease-in-out;
}
.copyButtonContainer:hover{
    transform: scale(1.15);
    transition: all 0.2s ease-in-out;
}

.c1r4{
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
}

.c1r4btn{
    width: 25%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.c1r4btn > img{
    position: absolute;
    width: 100%;
    height: auto;
}
.c1r4btn > span{
    font-size: 1.05em;
    font-weight: bold;
}
.c1r4btn:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.c1r4btn2{
    width: 30%;
}
.c1r4btn2> img{
    transform: scaleX(1.2);
}

.sec2_1{
    width: 40%;
    height: 100%;
    margin-right: 5%;
}

.sec2_1NoChart{
    width: 100%;
    height: 100%;
    
    background-color: black;
    border: 4px solid #00F2D8;
    border-radius: 40px;

    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2_2{
    width: 48%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2% 0 6% 0;
}

.sec2_2Socials{
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2_2Socials a{
    width: 40%;
    border: 1px solid white;
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2_2Socials a:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.sec2_2Socials a img{
    width: 90%;
    height: auto;
}