.navWrapper{
    width: 80%;
    height: fit-content;
    background-color: rgba(0, 171, 250, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 100px;
    padding: 0.25% 2%;

    margin: 0.75% 0 1.5% 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContent{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #CCFFEF;
}
.leftContent > div:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.centerContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo p{
    font-size: 2em;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
}

.logo img{
    width: 75%;
    height: auto;
}

.rightContent{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightContent > div:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.rightButton{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgButton{
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bgButton img, .bgButton p{
    position: absolute;
}

.bgButton p{
    margin-bottom: 0.3vh;
}

.linkButton{
    width: 30%;
}

.largeButton{
    transform: scaleX(1.1);
}

.wbgButton{
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
}
.wbgButton img{
    transform: scale(1.35);
}
.wbgButton:hover{
    transform: scale(1.15);
    transition: transform 0.2s ease-in-out;
}