.chartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: 4px solid #00f2d8;
  border-radius: 2.5em;
  padding: 1.25em;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-bottom: 0.625em;
}
.col1 {
  float: left;
  width: calc(50% - 0.625em);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 0.375em;
  margin: 0.3em;
  padding: 0.3em 0;
}
.col2 {
  float: left;
  width: calc(33.33% - 0.625em);
  text-align: center;
  text-transform: uppercase;
  margin: 0.3em;
  padding: 0.3em 0;
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 0.375em;
}
.details {
  border: 2px solid rgba(255, 255, 255, 0.16);
  border-radius: 0.375em;
  margin: 0.3em;
}
.col3 {
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.16);
  cursor: pointer;
  padding: 0.3em 0;
}
.col32 {
  float: left;
  width: 25%;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.16);
  padding: 0.3em 0;
}
.col32 > small{
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
}
.col3:hover,
.selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.col4:nth-child(1) {
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  margin: 0.3em 0;
}
.col4:nth-child(2) {
  float: left;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  margin: 0.3em 0;
  padding: 0 1.25em;
}
.col4left {
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.col4right {
  float: right;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.col5{
  float: left;
  width: 50%;
  text-align: center;
  margin: 0.3em 0;
}
.age{
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.16);
  padding-top: 0.625em;
}
.bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  /* background: linear-gradient(to right, green 60%, red 40%); */
}
.footer {
  text-align: center;
}
.green {
  color: #a4cf5e;
}
.red{
  color: #f45b5b;
}