.chartWrapper {
  width: 100%;
  height: 100%;
  border: 4px solid #00f2d8;
  border-radius: 40px;
  padding: 20px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.col1 {
  float: left;
  width: calc(50% - 10px);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 0.375em;
  margin: 5px;
}
.col2 {
  float: left;
  width: calc(33.33% - 10px);
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 0.375em;
}
.details{
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 0.375em;
    margin: 5px;
}
.col3 {
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.16);
}
.col4:nth-child(1) {
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0;
}
.col4:nth-child(2) {
  float: left;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0;
  padding: 0 20px;
}
.col4left {
  float: left;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0;
  text-wrap: nowrap;
}
.col4right {
  float: right;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 0;
  text-wrap: nowrap;
}
.bar{
    width: 100%;
    height: 4px;
    background-color: #00f2d8;
}